#red,
#green,
#blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}
#swatch {
  width: 220px;
  height: 100px;
  margin-top: 18px;
  margin-left: 350px;
  background-image: none;
}
input[type="button"] {
  border-radius: 5px;
}

.toogle-button {
  color: white;
  background: #3f94f0;
  border-color: #3f94f0;
  border-radius: 5px;
}

#swatch p {
  margin: 10px;
}
#red .ui-slider-range {
  background: #ef2929;
}
#red .ui-slider-handle {
  border-color: #ef2929;
}
#green .ui-slider-range {
  background: #8ae234;
}
#green .ui-slider-handle {
  border-color: #8ae234;
}
#blue .ui-slider-range {
  background: #729fcf;
}
#blue .ui-slider-handle {
  border-color: #729fcf;
}
